ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

table {
  width: 100%;
}

.logo {
  height: 5vmin;
}

.header {
  background-color: #dddddd;
  display: flex;
  align-items: center;
  padding: 3vmin 2rem;
  border-bottom: 3px solid #a3a3a3;
}

.main {
  display: flex;
}

.menu {
  display: flex;
  flex-direction: column;
  background-color: #f1f1f1;
  gap: 1.5rem;
  padding: 2rem;
}

.content {
  width: 100%;
  padding: 1rem 2rem;
}

.date {
  width: 45px;
}

.green {
  background-color: #007f0e;
}

@media screen and (max-width: 400px) {
  .menu a {
    text-align: center;
    float: none;
  }
}

@media only screen and (max-width: 550px) {
  .header {
    justify-content: center;
  }
}

@media screen and (max-width: 700px) {
  .main {
    flex-direction: column;
  }

  .menu {
    flex-direction: row;
    padding: 1rem;
  }
}