ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
}

.App-logo {
  height: 8vmin;
}

.App-header {
  background-color: #dddddd;
  min-height: 50px;
  display: flex;
  align-items: center;
  padding: 5vmin 2rem;
}

.App-link {
  color: #61dafb;
}

@media only screen and (max-width: 550px) {
  .App-header {
    justify-content: center;
  }
}